// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event {
  &:hover,
  &:active,
  &:focus {
    // lib sass (node sass)에서 content block 사용은 가능하나 @content($type)와 같이 인수를 전달하는 방식은 dart sass에서만 가능 합니다.
    @content;
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin main-h2() {
  color: #202429;
  font-size: 20px;
  margin-bottom: 18px;
}

@mixin main-nav() {
  color: #808893;
  font-size: 14px;
  margin-bottom: 18px;
}

@mixin btn-common() {
  // margin-top: 28px;
  // display: inline-block;
  // padding: 12px 74px 12px 75px;
  // border-radius: 28px;
  // border: solid 1px #d3d7df;
  // font-size: 13px;
  // max-width: 320px;
  width: 240px;
  height: 42px;
  margin: 28px 44px 0;
  padding: 14px 47px;
  border-radius: 28px;
  border: solid 1px #d3d7df;
  font-size: 13px;
}

@mixin special-time() {
  margin: 0;
  padding: 10px 0;
  font-size: 15px;
  color: #808893;
}