.main-wrapper{
  overflow: hidden;
  margin-bottom: 160px;
}
//메인스와이퍼
.main-swiper {
  margin-bottom: 50px;
}
// today베스트
.main-today {
  padding: 0 16px 0 16px;
  .title-nav {
    overflow: hidden;
  }
}
.today-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px;
  .product-normal {
    height: 100%;
    width: calc(100%/2);
    .badge-idx {
      display: block;
    }
  }
}

// 신상 모아보기
.main-new {
  margin-top: 80px;
  padding: 0 16px 0 16px;
  .title-nav {
    overflow: hidden;
  }
  .new-list {
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
    width: calc(100% + 40px);
    height: 100%;
    margin: 0 -20px;
    padding: 0 0 0 16px;
    white-space: nowrap;
    .product-normal {
      display: inline-block;
      width: calc(100% / 2);
      padding: 0 4px 20px;
      vertical-align: top;
      &:last-child {
        margin-right: 16px;
      }
    }
  }
}

//서브 배너
.main-sub-banner {
  margin-top: 60px;
}
//당신을 위한 추천
.main-recommend {
  margin-top: 60px;
  padding: 0 16px 0 16px;
  .recommend-list {
    overflow-x: auto;
    overflow-y: hidden;
    width: calc(100% + 40px);
    height: 100%;
    margin: 0 -20px;
    padding: 0 0 0 16px;
    white-space: nowrap;
    .product-normal {
      display: inline-block;
      width: calc(100% / 2);
      padding: 0 4px 20px;
      vertical-align: top;
      &:last-child {
        margin-right: 16px;
      }
    }
  }
}

//놓칠 수 없는 브랜디 특가
.main-special {
  padding: 0 16px 0 16px;
  padding-top: 60px;
  .special-list {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
    .product-special {
      display: inline-block;
      width: 66%;
    }
  }
}

//하루배송 상품은 내일 도착
.main-oneday {
  margin-top: 60px;
  padding: 0 16px 0 16px;
  .badge-idx {
    display: none;
  }
}

//지금 뜨고있는 기획전
.main-rise-pop {
  margin-top: 60px;
  padding: 0 16px 0 16px;
  .rise-list {
  }
}

@media screen and (min-width: map-get($breakpoints, "medium")) {
  //today베스트
  .main-today {
    padding: 0 20px 0 20px;
  }
  .today-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    .product-normal {
      height: 100%;
      width: calc(100% / 4);
    }
  }
  // 신상 모아보기
  .main-new {
    padding: 0 20px 0 20px;
    .new-list {
      display: flex;
      flex-wrap: wrap;
      overflow-x: auto;
      overflow-y: hidden;
      overflow: visible;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      .product-normal {
        height: 100%;
        width: calc(100% / 4);
      }
    }
  }
  //서브배너
  .main-sub-banner {
    padding: 0 20px 0 20px;
  }

  //당신을 위한 추천
  .main-recommend {
    margin-top: 60px;
    padding: 0 20px 0 20px;
    .recommend-list {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      overflow: visible;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      .product-normal {
        height: 100%;
        width: calc(100% / 4);
      }
    }
  }

  //놓칠 수 없는 브랜디 특가
  .main-special {
    padding: 60px 20px 0 20px;
    margin: 0 auto;
    .special-list {
      .special-image {
        display: inline-block;
        background: url(~@/assets/images/img-specialprice@3x.png) no-repeat center top;
        background-size: cover;
        width: calc(29% - 30px);
        padding-top: 32%;
        vertical-align: top;
        margin-right: 10px;
      }
      .product-special {
        width: calc(71% / 3);
        .product-info {
          box-sizing: border-box;
          width: 100%;
          .time {
            font-size: 15px;
          }
        }
        .product-title {
          font-size: 15px;
        }
        .info-price {
          .price {
            font-size: 18px;
          }
        }
      }
      }

  }
  .main-oneday {
    padding: 0 20px 0 20px;
  }

  //지금 뜨고있는 기획전
  .main-rise-pop {
    padding: 0 20px 0 20px;
    .rise-list {
      display: flex;
      border: none;
      .event-item {
        width: calc(100% / 2);
        margin-right: 32px;
        border: none;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
