// today베스트
.today-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 28px;
  .product-normal {
    display: block;
    height: 100%;
    width: calc(100%/2);
  }
}
// 신상 모아보기
.main-new {
  .new-list {
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
    width: calc(100% + 40px);
    height: 100%;
    margin: 0 -20px;
    padding: 0 0 0 16px;
    white-space: nowrap;
    .product-normal {
      display: inline-block;
      width: calc(100% / 2);
      padding: 0 4px 20px;
      vertical-align: top;
    }
  }
}

//신상모아보기
.main-special {
  .special-list {
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
    width: calc(100% + 40px);
    height: 100%;
    margin: 0 -20px;
    padding: 0 0 0 16px;
    white-space: nowrap;
    .product-special {
      display: inline-block;
      width: calc(100% / 2);
      padding: 0 4px 20px;
    }
  }
}